/* *{
    filter: brightness(50%);
} */
.body_deg {
    background-size: 100%;
    /* filter: brightness(50%); */
}
.login_deg{
    background-color: skyblue;
    color:white;
    text-align: center;
    font-weight: bold;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    

}

.form_deg {
    padding-top: 200px;
    spac
}
.login_form{
    border-radius: 10px;
background: #f8f2f1;
box-shadow: inset 35px 35px 70px #e7e1e0,
            inset -35px -35px 70px #ffffff;
    width: 400px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius:10px ;
}

.label_deg {
    display: inline-block;
    color: skyblue;
    text-align: right;
    padding: 10px 0 10px 0;

}

button {
    font-size: 17px;
    padding: 0.5em 2em;
    padding-left: ;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: dodgerblue;
    color: white;
    border-radius: 4px;
}

button:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(30, 144, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

button:active {
    transform: translate(0em, 0.2em);
}

.button_deg {
    padding-left: 4%;
    padding-top: 20px;
}